@import "variables.css";
@import "body.css";
@import "navbar.css";
@import "header.css";
@import "about.css";
@import "project.css";
@import "contact.css";
@import "footer.css";

html{
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: hidden;
}

.name{
  align-content: center;
  /* margin-top: 15%;
  margin-left: 20%; */
  margin: auto;
  z-index: 265;
  color: white;
  font-family: var(--font-4);

  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
  width:50%;
  height: 30%;
}

.header{
  margin: auto;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

#foo{
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
}
